.header {
    text-align: center;
}

.containerphoto{
    width: auto;
    height: 256px;
}
.contain1 {
    display: inline-block;
    text-align: center;
}

.imginside {
    display: inline-block;
    width: 700px;
    height: auto;
}
.wrapped {
    width: 500px;
    height: auto;
    float: inline-end;
    padding-right: 50px;
}
.ingredients, .steps {
    display: inline-block;
    width: 700px;
}

ul.littleparagraph li {
    display: inline-block;
    font: 15px;
    padding: 10px;
}